h1{
    display:flex;
    justify-content: center;
}

#choiceTitle{
    display:flex;
    justify-content: center;
}


.pChoices{
    display:flex;
    justify-content:space-evenly;
    margin-left:20%;
    margin-right:20%;
    
}
.radioButton{
    display:flex;
    justify-content: space-evenly;
    margin-left:19%;
    margin-right:20%;
    
    
}
.buttons{
    display:flex;
    justify-content: center;
    margin:1%;
}

button{
    margin:1%;
    
}

#score{
    border:1px;
    border-style: solid;
    margin-top: 10px;
    display:flex;
    align-items: center;
    white-space:pre-wrap;
    flex-direction: column;
}

#win{
    display:flex;
    justify-content: center;
    background-color: green;
    margin-left:30%;
    margin-right:30%;
    display:none;
}

#lost{
    display:flex;
    justify-content: center;
    background-color: red;
    margin-left:30%;
    margin-right:30%;
    display:none;
}

#computerBox{
    display:flex;
    justify-content: center;
    white-space: pre-wrap; 
    border:1px;
    border-style: solid;  
}

#computerGenerated{
    display:flex;
    justify-content: center;
}


#round{
    display:flex;
    justify-content: center;
    white-space:pre-wrap;
    border:1px;
    border-style: solid;
    margin-top: 10px;
    padding:1px;
}

#newGame{
    display:flex;
    justify-content: center;
}

.buttonGroup{
    display:flex;
    justify-content: center;
    text-align:center;
}

.buttonChoices{
    border:2px;
    border-style: solid;
    width:100px;
    height: 100px;
    text-align:center;
}